---
---

//
// IMPORTS
//

@import "_reset";
@import "_variables";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400);
// Syntax highlighting @import is at the bottom of this file

/* homepage-specific styles */

.header{
	display: block;
	padding: 5px 15px 5px 15px;
}

#mainhome{
	text-align:center;

	h1{
		display: inline-block;
		margin-left: 5px;
		margin-right:5px;
		font-size:50px;
		font-weight: bold;
		color: #ddd;
		text-shadow:
   			-3px -3px 0 #333333,  
    		3px -3px 0 #333333,
    		-3px 3px 0 #333333,
     		3px 3px 0 #333333;
     	opacity: 0.9;
		padding:5px 15px 5px 15px;
		margin:0;
		font-family: 'Ubuntu';
	}

}

.outer-div{
	height: 20vh;
	width: auto;
	
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
	
.mouse{
	display: inline-block;
	vertical-align: text-top;
}

#mouse {
	height: 5vw;
	width: auto;
}

@include mobile {
	.mouse{
		display: none;
	}
}

/* background image */

.homepage-background{
	background-image: url("http://www.homestarrunner.com/wallpapers/macbkgd2.gif");
	z-index: -1;
	position: absolute;

	width: 100vw;
	height: 100vh;
	background-size:cover;
	background-position: center top;
}


@include mobile {
	.homepage-background{
		background-position: left top;
	}
}


/* centering content */

/* header */

.wrapper-masthead{
	display: block;
	
	nav{
		position: absolute;
		right: 5px;
	}
}

.site-info{
	display: inline-block;
}


/* links */
 
nav{
	display: inline-block;

	a{
		margin-left: 5px;
		margin-right:5px;
		font-size:12px;
		background:#ddd;
		font-family: "Ubuntu";
		color: #000;
		text-decoration: none;
		border-radius:10px;
		padding:5px 15px 5px 15px;
	}

	a:hover{
		text-decoration: none;
		color:#ddd;
		background: #0071a7;
	}
}


/* footer */

.wrapper-footer{
	background:#ddd;
	background-position: center bottom;
	position:absolute;
    bottom:0;
    width:100%;
    padding: 5px;
}

footer{
	text-align: center;
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";