---
---

//
// IMPORTS
//

@import "_reset";
@import "_variables";
@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,700,800,900);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:200,300,400);
// Syntax highlighting @import is at the bottom of this file

/* homepage-specific styles */

.header{
	display: block;
	padding: 5px 15px 5px 15px;
}

#mainhome{
	text-align:center;

	h1{
		display: inline-block;
		margin-left: 5px;
		margin-right:5px;
		font-size:50px;
		color: #ffffff;
		text-shadow:
   			-3px -3px 0 #333333,  
    		3px -3px 0 #333333,
    		-3px 3px 0 #333333,
     		3px 3px 0 #333333;
		padding:5px 15px 5px 15px;
		margin:0;
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
	}

}

.outer-div{
	height: 20vh;
	width: auto;
	
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
	
.mouse{
	display: inline-block;
	vertical-align: text-top;
}

#mouse {
	height: 5vw;
	width: auto;
}

@include mobile {
	.mouse{
		display: none;
	}
}

/* background image */

.homepage-background{
	background-image: url("http://www.homestarrunner.com/wallpapers/macbkgd2.gif");
	z-index: -1;
	position: absolute;

	width: 100vw;
	height: 100vh;
	background-size:cover;
	background-position: center top;
}


@include mobile {
	.homepage-background{
		background-position: left top;
	}
}

.page-background{
	background-image: url("http://www.homestarrunner.com/wallpapers/macbkgd2.gif");
	z-index: -1;
	position: absolute;

	height: 85vh;
	width: 100vw;
	background-size:cover;
	background-position: center bottom;
}

/* centering content */

/* header */

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;
  background-color: #dddddd;
  
  @include mobile {
    text-align: center;
  }
}

.masthead .site-info {
  float: left;
  margin: 10px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.masthead .site-name {
  margin: 0;
  cursor: pointer;
  font-family: 'Raleway'; 
  font-weight: 900;
  font-size: 28px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.masthead .site-name a {
  text-decoration: none;
  color: $white;
  padding: 5px;
}

.masthead .site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 12px;
  font-family: "Ubuntu";
  letter-spacing: 1px;
  padding: 5px;
  
  @include mobile {
    margin: 3px 0;
  }
}

.masthead nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue; 
  font-size: 18px;
  
  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.masthead .container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}



/* links */
 
nav{
	display: inline-block;

	a{
		margin-left: 5px;
		margin-right:5px;
		font-size:12px;
		background:#ddd;
		font-family: 'Ubuntu';
		color: #000;
		text-decoration: none;
		border-radius:5px;
		padding:5px 15px 5px 15px;
	}

	a:hover{
		text-decoration: none;
		color:#ddd;
		background: #0071a7;
	}
}

/* content */

#page-main {
	height: calc(100vh - 116px - 53px);
}

.content-wrapper{
	max-width: calc(800px - (15px * 2));
	min-height: calc(100vh - 116px - 53px);
	margin-right: auto;
	margin-left: auto;
	padding-right: 30px;
	padding-left: 30px;
	background: $white;
	background-size: cover;
}

.content-wrapper h1 {
  font-family: 'Raleway'; 
  font-weight: 900;
  font-size: 28px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  padding-top: 20px;
}

h3 {
  font-family: 'Raleway'; 
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  padding-top: 10px;
}

p {
	font-family: 'Ubuntu';
	font-weight: 200;
	letter-spacing: 1px;
    line-height: 150%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-wrapper ul.li {
    list-style-type: circle;
}


.content-wrapper img{
	float: right;
	padding-left: 10px;
	padding-bottom: 10px;
	width: 300px;
	height: auto;
	border-radius: 50 px;
}

.content-wrapper a{
	text-decoration: none;
	background:#ddd;
	font-family: 'Ubuntu';
	color: #000;
	text-decoration: none;
	border-radius:5px;
	padding:5px 15px 5px 15px;
}

.content-wrapper a:hover{
	text-decoration: none;
	color:#ddd;
	background: #0071a7;
}
	


/* footer */
.home-wrapper-footer{
	background:#ddd;
    width:100%;
    padding: 5px;
	position: fixed;
	bottom: 0px;
}

.wrapper-footer{
	background:#ddd;
    width:100%;
    padding: 5px;
    min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

footer{
	text-align: center;
}

.wrapper-footer, .push {
	height: 4em;
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";