---
---

//
// IMPORTS
//

@import "_reset";
@import "_variables";
// Syntax highlighting @import is at the bottom of this file

/* homepage-specific styles */

#mainhome{
	text-align:center;

	h1{
		text-align:center;
		margin:0;
	}

}

/* background image */

.homepage-background{
	background-image: url("http://www.homestarrunner.com/wallpapers/macbkgd2.gif");
	z-index: -1;
	position: absolute;

	width: 100vw;
	height: 100vh;
	background-size:cover;
	background-position: center top;
}


/* centering content */


@mixin calc($property, $expression) { 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
} 

.outer-div{
	display:table;
	postion:absolute;
	height: 80vh;
	width: 100%;
 	@include calc(height, "100vh - 140px");
}

.mid-div{
	display:table-cell;
	vertical-align:middle;
}

.inner-div{
	margin-left:auto;
	margin-right:auto;
	width: 100%;
}


/* links */
/* 
nav{
	display:inline-block;

	a{
		margin-left: 5px;
		margin-right:5px;
		font-size:12px;
		background:#e5e5e5;
		border-radius:50px;
		padding:5px 15px 5px 15px;
	}

	a:hover{
		text-decoration: none;
		background:#ddd;
	}
}
 */

/* footer */

.wrapper-footer{
	background:#ddd;
	background-position: center bottom;
}

/* nav */

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400);
.pages {
  background: #f96e5b;
  width: auto;
}
.pages {
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
.pages:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.pages a {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.pages.align-right a {
  float: right;
}
.pages.align-center {
  text-align: center;
}
.pages a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
.pages a:hover {
  color: #333333;
}
.pages a:hover:before {
  width: 100%;
}
.pages a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
.pages a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}

.pages a.active {
  color: #333333;
}
.pages a.active:before {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .pages {
    float: none;
    display: block;
  }
  .pages a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  .pages.last > a,
  .pages:last-child > a {
    border: 0;
  }
  .pages a:after {
    display: none;
  }
  .pages a:before {
    display: none;
  }
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";